.logo {
  display: block;
  margin-left:auto;
  margin-right:auto;
  width: 165px;
  height: 58px;
  padding-top:80px;
}

.menu {
  color: 58595B;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-family: "Helvetica";
  margin-left: 20px;
}

.images {
  display: block;
  margin-left:auto;
  margin-right:auto;
  width:90%;
}
